@model Promotion.Extensions.PaginatorExtension<Promotion.Models.Newsletter>

@{
    ViewData["Title"] = "Newsletter";
    ViewData["Controller"] = "Newsletter";
}
@section Header {
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Newsletter</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a asp-controller="Newsletter" asp-action="Export" class="btn btn-sm btn-success">
        Exportar
        <svg class="bi bi-cloud-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.887 5.2l-.964-.165A2.5 2.5 0 103.5 10H6v1H3.5a3.5 3.5 0 11.59-6.95 5.002 5.002 0 119.804 1.98A2.501 2.501 0 0113.5 11H10v-1h3.5a1.5 1.5 0 00.237-2.981L12.7 6.854l.216-1.028a4 4 0 10-7.843-1.587l-.185.96z"/><path fill-rule="evenodd" d="M5 12.5a.5.5 0 01.707 0L8 14.793l2.293-2.293a.5.5 0 11.707.707l-2.646 2.646a.5.5 0 01-.708 0L5 13.207a.5.5 0 010-.707z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M8 6a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 6z" clip-rule="evenodd"/></svg>
      </a>
    </div>
  </div>
}
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Criado em</th>
    </tr>
  </thead>
  <tbody>
    @{
      List<Promotion.Models.Newsletter> newsletters = Model;
    }
    @if (newsletters.Any())
    {
      @foreach (var item in newsletters)
      {
        <tr>
          <th scope="row">@item.Id</th>
          <td>@item.Name</td>
          <td>@item.Email</td>
          <td>@item.CreatedAt</td>
        </tr>
      }
    }
    else
    {
      <tr class="text-center bg-light">
        <td colspan="4">Nenhum registro encontrado</td>
      </tr>
    }
  </tbody>
</table>
<hr>
<div class="text-center">
  <div class="btn-group btn-group-toggle">
    @if (newsletters.Any())
    {
      var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
      var nextDisabled = !Model.HasNextPage ? "disabled" : "";
      <a asp-action="Index"
        asp-route-pageNumber="@(Model.pageIndex - 1)"
        class="btn btn-light @prevDisabled">
          Previous
      </a>
      for (int i = 1; i <= Model.totalPages; i++)
      {
        <a asp-action="Index"
          asp-route-pageNumber="@i"
          class="btn btn-light">
            <span style="text-decoration: underline;">@i</span>
        </a> 
      }
      <a asp-action="Index"
        asp-route-pageNumber="@(Model.pageIndex + 1)"
        class="btn btn-light @nextDisabled">
          Next
      </a>
    }
  </div>
</div>